@model IEnumerable<VidlyApp.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

if(!Model.Any()){
    <h2>There are no Customers</h2>
}
else{
    <table>
        <thead><tr><th>Customer Name</th></tr></thead>
        <tbody>
            @foreach(var item in Model.ToList())
            {
                <tr><td>@item.Name</td></tr>
            }
        </tbody>
    </table>
}
@*@if (!Model.Any())
{
    <h2>There are no customers.</h2>
}
else
{
    <table class="table table-bordered table-hover">
        <thead><tr><th>Customer Name</th></tr></thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}*@

